*{
  color: #3C373B;
}

h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 10px;
  font-size: 30px;
  font-weight: 100;
}

p {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 20px;
  margin: 10px;
}

img {
  border-radius: 10px;
  height: 300px;
}
.about-us{
  font-size: 50px;
}


.container {
  margin: 0 auto;
  width: 750px;
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #E79947;
}

.container header nav a:hover {
  background-color: white;
  color:#E79947 ;
}

.banner-area{
  background-color: rgb(238, 236, 236);
  text-align: center;
  margin: 20px;
}
.banner{
  height: 175px;
  width: 750px;
}

.content-row {
  display: flex;
}

.content-row div {  
  vertical-align: top;
  margin: 20px;
  margin-top: 0;
}

.contact-section {
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

address {
  line-height: 2;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  width: 750px;
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

footer nav {
  display: flex;
}

footer a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer div{
  font-size: 25px;
}

footer nav a:first-child {
  margin-left: 0;
}

footer  .footer-content nav a:hover{
  color: white;
}

footer .footer-content, .copyright {
  padding: 20px;
   text-align: center;
}